<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/basic.css">
    <title>人資頁面</title>
    <img class="logo" src="images/logo.png" alt="logo">
</head>

<body>
    <div class="container-fluid">
        <form method="post" action="">
            <table class="table table-striped">
                <thead class="thead bg-primary text-white">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">項目</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>新增員工</td>
                        <td><input type="submit" name="addEmployee" class="btn btn-primary " value="確認"></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>在職員工名單</td>
                        <td><input type="submit" name="staffList" class="btn btn-info " value="確認"></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>離職員工名單</td>
                        <td><input type="submit" name="resignedStaffList" class="btn btn-primary " value="確認"></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>留職停薪員工名單</td>
                        <td><input type="submit" name="LeaveWithoutPayStaffList" class="btn btn-info " value="確認"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    </div>
</body>
</html>